* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Oswald, sans-serif;
}

/* Common css */
a {
    text-decoration: none;
    color: white;
}

p {
    font-weight: 600;
    font-family: Lato, sans-serif;
}

nav {
    background-color: #CD192A;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    height: 80px;
}

.logo {
    text-decoration: none;
    height: fit-content;

}

.logo a {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.logo a img {
    height: 50px;
    margin-right: 20px;
}

.brand-name {
    font-family: 'Times New Roman', Times, serif;
    transition: .3s ease-in-out;
}

.brand-name:hover {
    color: #4e3b3d;
}


.hamburger {
    cursor: pointer;
}

.ham-bars {
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 4px 0;
    transition: all .3s ease;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-links {
    width: fit-content;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}

.nav-links:hover {
    background-color: #961c29;
}




/* Social handle */

.sticky_menu {
    width: 46px;
    height: 280px;
    /* background-color: #961c29; */
    position: fixed;
    top: 160px;
    left: 0;
    border-radius: 0 4px 4px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.sticky_links {
    width: 40px;
    height: 40px;
    /* background-color: #CD192A; */
    border-radius: 20px;
}

.sticky_links img {
    width: 40px;
    height: 40px;
    margin-top: 2px;
}

.sticky_links:hover {
    opacity: .5;
}






@media only screen and (max-width: 786px) {
    nav {
        padding: 4px 40px;
    }
}




@media only screen and (max-width: 420px) {

    .sticky_menu {
        width: 40px;
        height: 190px;
    }

    .sticky_links img {
        width: 34px;
        height: 34px;
        margin-top: 2px;
    }
}




@media only screen and (min-width: 786px) {


    nav {
        padding: 4px 60px;
    }



    .nav-links {
        padding: 4px 16px;
    }

    .hamburger {
        display: none;
    }
}




@media only screen and (min-width: 980px) {
    nav {
        padding: 4px 80px;
    }
}





@media only screen and (max-width: 1024px) {
    .nav-menu {
        background-color: #CD192A;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: -110%;
        gap: 10px;
        width: 100vw;
        margin-bottom: 10px;
        text-align: center;
        transition: 0.3s;
        padding: 10px;
    }

    .nav-menu.active {
        left: 0;
    }


    .nav-links {
        width: 100%;
        padding: 8px 10px;
    }

    .hamburger {
        display: block;
    }
}





/* Footer Section */
footer {
    margin-top: 60px;
}

.footer-container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #CD192A;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    flex-direction: row;
    height: 40px;
    width: 40px;
    background-color: #24262b;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    /* background-color: #ffffff; */
}

/*responsive*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}




/* Swiper Css */

.swiper {
    width: 100%;
    height: 100%;
    z-index: 0;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}